/* ------------------------------------------------------------------------------
 *
 *  # Icomoon variables
 *
 *  Includes some set-specific functions and variables (base and icons)
 *
 * ---------------------------------------------------------------------------- */


// Base
$ph-font-path:                './fonts' !default;
$ph-css-prefix:               'ph' !default;

// Convenience function used to set content property
@function ph-content($ph-var) {
	@return unquote("\"#{ $ph-var }\"");
}

// Icons
$ph-var-activity: \f230;
$ph-var-address-book: \f231;
$ph-var-airplane: \f232;
$ph-var-airplane-in-flight: \f233;
$ph-var-airplane-landing: \f234;
$ph-var-airplane-takeoff: \f235;
$ph-var-airplane-tilt: \f236;
$ph-var-airplay: \f237;
$ph-var-alarm: \f238;
$ph-var-alien: \f239;
$ph-var-align-bottom: \f23a;
$ph-var-align-bottom-simple: \f23b;
$ph-var-align-center-horizontal: \f23c;
$ph-var-align-center-horizontal-simple: \f23d;
$ph-var-align-center-vertical: \f23e;
$ph-var-align-center-vertical-simple: \f23f;
$ph-var-align-left: \f240;
$ph-var-align-left-simple: \f241;
$ph-var-align-right: \f242;
$ph-var-align-right-simple: \f243;
$ph-var-align-top: \f244;
$ph-var-align-top-simple: \f245;
$ph-var-anchor: \f246;
$ph-var-anchor-simple: \f247;
$ph-var-android-logo: \f248;
$ph-var-angular-logo: \f249;
$ph-var-aperture: \f24a;
$ph-var-app-store-logo: \f24b;
$ph-var-app-window: \f24c;
$ph-var-apple-logo: \f24d;
$ph-var-apple-podcasts-logo: \f24e;
$ph-var-archive: \f24f;
$ph-var-archive-box: \f250;
$ph-var-archive-tray: \f251;
$ph-var-armchair: \f252;
$ph-var-arrow-arc-left: \f253;
$ph-var-arrow-arc-right: \f254;
$ph-var-arrow-bend-double-up-left: \f255;
$ph-var-arrow-bend-double-up-right: \f256;
$ph-var-arrow-bend-down-left: \f257;
$ph-var-arrow-bend-down-right: \f258;
$ph-var-arrow-bend-left-down: \f259;
$ph-var-arrow-bend-left-up: \f25a;
$ph-var-arrow-bend-right-down: \f25b;
$ph-var-arrow-bend-right-up: \f25c;
$ph-var-arrow-bend-up-left: \f25d;
$ph-var-arrow-bend-up-right: \f25e;
$ph-var-arrow-circle-down: \f25f;
$ph-var-arrow-circle-down-left: \f260;
$ph-var-arrow-circle-down-right: \f261;
$ph-var-arrow-circle-left: \f262;
$ph-var-arrow-circle-right: \f263;
$ph-var-arrow-circle-up: \f264;
$ph-var-arrow-circle-up-left: \f265;
$ph-var-arrow-circle-up-right: \f266;
$ph-var-arrow-clockwise: \f267;
$ph-var-arrow-counter-clockwise: \f268;
$ph-var-arrow-down: \f269;
$ph-var-arrow-down-left: \f26a;
$ph-var-arrow-down-right: \f26b;
$ph-var-arrow-elbow-down-left: \f26c;
$ph-var-arrow-elbow-down-right: \f26d;
$ph-var-arrow-elbow-left: \f26e;
$ph-var-arrow-elbow-left-down: \f26f;
$ph-var-arrow-elbow-left-up: \f270;
$ph-var-arrow-elbow-right: \f271;
$ph-var-arrow-elbow-right-down: \f272;
$ph-var-arrow-elbow-right-up: \f273;
$ph-var-arrow-elbow-up-left: \f274;
$ph-var-arrow-elbow-up-right: \f275;
$ph-var-arrow-fat-down: \f276;
$ph-var-arrow-fat-left: \f277;
$ph-var-arrow-fat-line-down: \f278;
$ph-var-arrow-fat-line-left: \f279;
$ph-var-arrow-fat-line-right: \f27a;
$ph-var-arrow-fat-line-up: \f27b;
$ph-var-arrow-fat-lines-down: \f27c;
$ph-var-arrow-fat-lines-left: \f27d;
$ph-var-arrow-fat-lines-right: \f27e;
$ph-var-arrow-fat-lines-up: \f27f;
$ph-var-arrow-fat-right: \f280;
$ph-var-arrow-fat-up: \f281;
$ph-var-arrow-left: \f282;
$ph-var-arrow-line-down: \f283;
$ph-var-arrow-line-down-left: \f284;
$ph-var-arrow-line-down-right: \f285;
$ph-var-arrow-line-left: \f286;
$ph-var-arrow-line-right: \f287;
$ph-var-arrow-line-up: \f288;
$ph-var-arrow-line-up-left: \f289;
$ph-var-arrow-line-up-right: \f28a;
$ph-var-arrow-right: \f28b;
$ph-var-arrow-square-down: \f28c;
$ph-var-arrow-square-down-left: \f28d;
$ph-var-arrow-square-down-right: \f28e;
$ph-var-arrow-square-in: \f28f;
$ph-var-arrow-square-left: \f290;
$ph-var-arrow-square-out: \f291;
$ph-var-arrow-square-right: \f292;
$ph-var-arrow-square-up: \f293;
$ph-var-arrow-square-up-left: \f294;
$ph-var-arrow-square-up-right: \f295;
$ph-var-arrow-u-down-left: \f296;
$ph-var-arrow-u-down-right: \f297;
$ph-var-arrow-u-left-down: \f298;
$ph-var-arrow-u-left-up: \f299;
$ph-var-arrow-u-right-down: \f29a;
$ph-var-arrow-u-right-up: \f29b;
$ph-var-arrow-u-up-left: \f29c;
$ph-var-arrow-u-up-right: \f29d;
$ph-var-arrow-up: \f29e;
$ph-var-arrow-up-left: \f29f;
$ph-var-arrow-up-right: \f2a0;
$ph-var-arrows-clockwise: \f2a1;
$ph-var-arrows-counter-clockwise: \f2a2;
$ph-var-arrows-down-up: \f2a3;
$ph-var-arrows-horizontal: \f2a4;
$ph-var-arrows-in: \f2a5;
$ph-var-arrows-in-cardinal: \f2a6;
$ph-var-arrows-in-line-horizontal: \f2a7;
$ph-var-arrows-in-line-vertical: \f2a8;
$ph-var-arrows-in-simple: \f2a9;
$ph-var-arrows-left-right: \f2aa;
$ph-var-arrows-out: \f2ab;
$ph-var-arrows-out-cardinal: \f2ac;
$ph-var-arrows-out-line-horizontal: \f2ad;
$ph-var-arrows-out-line-vertical: \f2ae;
$ph-var-arrows-out-simple: \f2af;
$ph-var-arrows-vertical: \f2b0;
$ph-var-article: \f2b1;
$ph-var-article-medium: \f2b2;
$ph-var-article-ny-times: \f2b3;
$ph-var-asterisk: \f2b4;
$ph-var-asterisk-simple: \f2b5;
$ph-var-at: \f2b6;
$ph-var-atom: \f2b7;
$ph-var-baby: \f2b8;
$ph-var-backpack: \f2b9;
$ph-var-backspace: \f2ba;
$ph-var-bag: \f2bb;
$ph-var-bag-simple: \f2bc;
$ph-var-balloon: \f2bd;
$ph-var-bandaids: \f2be;
$ph-var-bank: \f2bf;
$ph-var-barbell: \f2c0;
$ph-var-barcode: \f2c1;
$ph-var-barricade: \f2c2;
$ph-var-baseball: \f2c3;
$ph-var-basketball: \f2c4;
$ph-var-bathtub: \f2c5;
$ph-var-battery-charging: \f2c6;
$ph-var-battery-charging-vertical: \f2c7;
$ph-var-battery-empty: \f2c8;
$ph-var-battery-full: \f2c9;
$ph-var-battery-high: \f2ca;
$ph-var-battery-low: \f2cb;
$ph-var-battery-medium: \f2cc;
$ph-var-battery-plus: \f2cd;
$ph-var-battery-warning: \f2ce;
$ph-var-battery-warning-vertical: \f2cf;
$ph-var-bed: \f2d0;
$ph-var-beer-bottle: \f2d1;
$ph-var-behance-logo: \f2d2;
$ph-var-bell: \f2d3;
$ph-var-bell-ringing: \f2d4;
$ph-var-bell-simple: \f2d5;
$ph-var-bell-simple-ringing: \f2d6;
$ph-var-bell-simple-slash: \f2d7;
$ph-var-bell-simple-z: \f2d8;
$ph-var-bell-slash: \f2d9;
$ph-var-bell-z: \f2da;
$ph-var-bezier-curve: \f2db;
$ph-var-bicycle: \f2dc;
$ph-var-binoculars: \f2dd;
$ph-var-bird: \f2de;
$ph-var-bluetooth: \f2df;
$ph-var-bluetooth-connected: \f2e0;
$ph-var-bluetooth-slash: \f2e1;
$ph-var-bluetooth-x: \f2e2;
$ph-var-boat: \f2e3;
$ph-var-book: \f2e4;
$ph-var-book-bookmark: \f2e5;
$ph-var-book-open: \f2e6;
$ph-var-bookmark: \f2e7;
$ph-var-bookmark-simple: \f2e8;
$ph-var-bookmarks: \f2e9;
$ph-var-bookmarks-simple: \f2ea;
$ph-var-books: \f2eb;
$ph-var-bounding-box: \f2ec;
$ph-var-brackets-angle: \f2ed;
$ph-var-brackets-curly: \f2ee;
$ph-var-brackets-round: \f2ef;
$ph-var-brackets-square: \f2f0;
$ph-var-brain: \f2f1;
$ph-var-brandy: \f2f2;
$ph-var-briefcase: \f2f3;
$ph-var-briefcase-metal: \f2f4;
$ph-var-broadcast: \f2f5;
$ph-var-browser: \f2f6;
$ph-var-browsers: \f2f7;
$ph-var-bug: \f2f8;
$ph-var-bug-beetle: \f2f9;
$ph-var-bug-droid: \f2fa;
$ph-var-buildings: \f2fb;
$ph-var-bus: \f2fc;
$ph-var-butterfly: \f2fd;
$ph-var-cactus: \f2fe;
$ph-var-cake: \f2ff;
$ph-var-calculator: \f300;
$ph-var-calendar: \f301;
$ph-var-calendar-blank: \f302;
$ph-var-calendar-check: \f303;
$ph-var-calendar-plus: \f304;
$ph-var-calendar-x: \f305;
$ph-var-camera: \f306;
$ph-var-camera-rotate: \f307;
$ph-var-camera-slash: \f308;
$ph-var-campfire: \f309;
$ph-var-car: \f30a;
$ph-var-car-simple: \f30b;
$ph-var-cardholder: \f30c;
$ph-var-cards: \f30d;
$ph-var-caret-circle-double-down: \f30e;
$ph-var-caret-circle-double-left: \f30f;
$ph-var-caret-circle-double-right: \f310;
$ph-var-caret-circle-double-up: \f311;
$ph-var-caret-circle-down: \f312;
$ph-var-caret-circle-left: \f313;
$ph-var-caret-circle-right: \f314;
$ph-var-caret-circle-up: \f315;
$ph-var-caret-double-down: \f316;
$ph-var-caret-double-left: \f317;
$ph-var-caret-double-right: \f318;
$ph-var-caret-double-up: \f319;
$ph-var-caret-down: \f31a;
$ph-var-caret-left: \f31b;
$ph-var-caret-right: \f31c;
$ph-var-caret-up: \f31d;
$ph-var-cat: \f31e;
$ph-var-cell-signal-full: \f31f;
$ph-var-cell-signal-high: \f320;
$ph-var-cell-signal-low: \f321;
$ph-var-cell-signal-medium: \f322;
$ph-var-cell-signal-none: \f323;
$ph-var-cell-signal-slash: \f324;
$ph-var-cell-signal-x: \f325;
$ph-var-chalkboard: \f326;
$ph-var-chalkboard-simple: \f327;
$ph-var-chalkboard-teacher: \f328;
$ph-var-chart-bar: \f329;
$ph-var-chart-bar-horizontal: \f32a;
$ph-var-chart-line: \f32b;
$ph-var-chart-line-up: \f32c;
$ph-var-chart-pie: \f32d;
$ph-var-chart-pie-slice: \f32e;
$ph-var-chat: \f32f;
$ph-var-chat-centered: \f330;
$ph-var-chat-centered-dots: \f331;
$ph-var-chat-centered-text: \f332;
$ph-var-chat-circle: \f333;
$ph-var-chat-circle-dots: \f334;
$ph-var-chat-circle-text: \f335;
$ph-var-chat-dots: \f336;
$ph-var-chat-teardrop: \f337;
$ph-var-chat-teardrop-dots: \f338;
$ph-var-chat-teardrop-text: \f339;
$ph-var-chat-text: \f33a;
$ph-var-chats: \f33b;
$ph-var-chats-circle: \f33c;
$ph-var-chats-teardrop: \f33d;
$ph-var-check: \f33e;
$ph-var-check-circle: \f33f;
$ph-var-check-square: \f340;
$ph-var-check-square-offset: \f341;
$ph-var-checks: \f342;
$ph-var-circle: \f343;
$ph-var-circle-dashed: \f344;
$ph-var-circle-half: \f345;
$ph-var-circle-half-tilt: \f346;
$ph-var-circle-notch: \f347;
$ph-var-circle-wavy: \f348;
$ph-var-circle-wavy-check: \f349;
$ph-var-circle-wavy-question: \f34a;
$ph-var-circle-wavy-warning: \f34b;
$ph-var-circles-four: \f34c;
$ph-var-circles-three: \f34d;
$ph-var-circles-three-plus: \f34e;
$ph-var-clipboard: \f34f;
$ph-var-clipboard-text: \f350;
$ph-var-clock: \f351;
$ph-var-clock-afternoon: \f352;
$ph-var-clock-clockwise: \f353;
$ph-var-clock-counter-clockwise: \f354;
$ph-var-closed-captioning: \f355;
$ph-var-cloud: \f356;
$ph-var-cloud-arrow-down: \f357;
$ph-var-cloud-arrow-up: \f358;
$ph-var-cloud-check: \f359;
$ph-var-cloud-fog: \f35a;
$ph-var-cloud-lightning: \f35b;
$ph-var-cloud-moon: \f35c;
$ph-var-cloud-rain: \f35d;
$ph-var-cloud-slash: \f35e;
$ph-var-cloud-snow: \f35f;
$ph-var-cloud-sun: \f360;
$ph-var-club: \f361;
$ph-var-coat-hanger: \f362;
$ph-var-code: \f363;
$ph-var-code-simple: \f364;
$ph-var-codepen-logo: \f365;
$ph-var-codesandbox-logo: \f366;
$ph-var-coffee: \f367;
$ph-var-coin: \f368;
$ph-var-coin-vertical: \f369;
$ph-var-coins: \f36a;
$ph-var-columns: \f36b;
$ph-var-command: \f36c;
$ph-var-compass: \f36d;
$ph-var-computer-tower: \f36e;
$ph-var-confetti: \f36f;
$ph-var-cookie: \f370;
$ph-var-cooking-pot: \f371;
$ph-var-copy: \f372;
$ph-var-copy-simple: \f373;
$ph-var-copyleft: \f374;
$ph-var-copyright: \f375;
$ph-var-corners-in: \f376;
$ph-var-corners-out: \f377;
$ph-var-cpu: \f378;
$ph-var-credit-card: \f379;
$ph-var-crop: \f37a;
$ph-var-crosshair: \f37b;
$ph-var-crosshair-simple: \f37c;
$ph-var-crown: \f37d;
$ph-var-crown-simple: \f37e;
$ph-var-cube: \f37f;
$ph-var-currency-btc: \f380;
$ph-var-currency-circle-dollar: \f381;
$ph-var-currency-cny: \f382;
$ph-var-currency-dollar: \f383;
$ph-var-currency-dollar-simple: \f384;
$ph-var-currency-eth: \f385;
$ph-var-currency-eur: \f386;
$ph-var-currency-gbp: \f387;
$ph-var-currency-inr: \f388;
$ph-var-currency-jpy: \f389;
$ph-var-currency-krw: \f38a;
$ph-var-currency-kzt: \f38b;
$ph-var-currency-ngn: \f38c;
$ph-var-currency-rub: \f38d;
$ph-var-cursor: \f38e;
$ph-var-cursor-text: \f38f;
$ph-var-cylinder: \f390;
$ph-var-database: \f391;
$ph-var-desktop: \f392;
$ph-var-desktop-tower: \f393;
$ph-var-detective: \f394;
$ph-var-device-mobile: \f395;
$ph-var-device-mobile-camera: \f396;
$ph-var-device-mobile-speaker: \f397;
$ph-var-device-tablet: \f398;
$ph-var-device-tablet-camera: \f399;
$ph-var-device-tablet-speaker: \f39a;
$ph-var-diamond: \f39b;
$ph-var-diamonds-four: \f39c;
$ph-var-dice-five: \f39d;
$ph-var-dice-four: \f39e;
$ph-var-dice-one: \f39f;
$ph-var-dice-six: \f3a0;
$ph-var-dice-three: \f3a1;
$ph-var-dice-two: \f3a2;
$ph-var-disc: \f3a3;
$ph-var-discord-logo: \f3a4;
$ph-var-divide: \f3a5;
$ph-var-dog: \f3a6;
$ph-var-door: \f3a7;
$ph-var-dots-nine: \f3a8;
$ph-var-dots-six: \f3a9;
$ph-var-dots-six-vertical: \f3aa;
$ph-var-dots-three: \f3ab;
$ph-var-dots-three-circle: \f3ac;
$ph-var-dots-three-circle-vertical: \f3ad;
$ph-var-dots-three-outline: \f3ae;
$ph-var-dots-three-outline-vertical: \f3af;
$ph-var-dots-three-vertical: \f3b0;
$ph-var-download: \f3b1;
$ph-var-download-simple: \f3b2;
$ph-var-dribbble-logo: \f3b3;
$ph-var-drop: \f3b4;
$ph-var-drop-half: \f3b5;
$ph-var-drop-half-bottom: \f3b6;
$ph-var-ear: \f3b7;
$ph-var-ear-slash: \f3b8;
$ph-var-egg: \f3b9;
$ph-var-egg-crack: \f3ba;
$ph-var-eject: \f3bb;
$ph-var-eject-simple: \f3bc;
$ph-var-envelope: \f3bd;
$ph-var-envelope-open: \f3be;
$ph-var-envelope-simple: \f3bf;
$ph-var-envelope-simple-open: \f3c0;
$ph-var-equalizer: \f3c1;
$ph-var-equals: \f3c2;
$ph-var-eraser: \f3c3;
$ph-var-exam: \f3c4;
$ph-var-export: \f3c5;
$ph-var-eye: \f3c6;
$ph-var-eye-closed: \f3c7;
$ph-var-eye-slash: \f3c8;
$ph-var-eyedropper: \f3c9;
$ph-var-eyedropper-sample: \f3ca;
$ph-var-eyeglasses: \f3cb;
$ph-var-face-mask: \f3cc;
$ph-var-facebook-logo: \f3cd;
$ph-var-factory: \f3ce;
$ph-var-faders: \f3cf;
$ph-var-faders-horizontal: \f3d0;
$ph-var-fast-forward: \f3d1;
$ph-var-fast-forward-circle: \f3d2;
$ph-var-figma-logo: \f3d3;
$ph-var-file: \f3d4;
$ph-var-file-arrow-down: \f3d5;
$ph-var-file-arrow-up: \f3d6;
$ph-var-file-audio: \f3d7;
$ph-var-file-cloud: \f3d8;
$ph-var-file-code: \f3d9;
$ph-var-file-css: \f3da;
$ph-var-file-csv: \f3db;
$ph-var-file-doc: \f3dc;
$ph-var-file-dotted: \f3dd;
$ph-var-file-html: \f3de;
$ph-var-file-image: \f3df;
$ph-var-file-jpg: \f3e0;
$ph-var-file-js: \f3e1;
$ph-var-file-jsx: \f3e2;
$ph-var-file-lock: \f3e3;
$ph-var-file-minus: \f3e4;
$ph-var-file-pdf: \f3e5;
$ph-var-file-plus: \f3e6;
$ph-var-file-png: \f3e7;
$ph-var-file-ppt: \f3e8;
$ph-var-file-rs: \f3e9;
$ph-var-file-search: \f3ea;
$ph-var-file-text: \f3eb;
$ph-var-file-ts: \f3ec;
$ph-var-file-tsx: \f3ed;
$ph-var-file-video: \f3ee;
$ph-var-file-vue: \f3ef;
$ph-var-file-x: \f3f0;
$ph-var-file-xls: \f3f1;
$ph-var-file-zip: \f3f2;
$ph-var-files: \f3f3;
$ph-var-film-script: \f3f4;
$ph-var-film-slate: \f3f5;
$ph-var-film-strip: \f3f6;
$ph-var-fingerprint: \f3f7;
$ph-var-fingerprint-simple: \f3f8;
$ph-var-finn-the-human: \f3f9;
$ph-var-fire: \f3fa;
$ph-var-fire-simple: \f3fb;
$ph-var-first-aid: \f3fc;
$ph-var-first-aid-kit: \f3fd;
$ph-var-fish: \f3fe;
$ph-var-fish-simple: \f3ff;
$ph-var-flag: \f400;
$ph-var-flag-banner: \f401;
$ph-var-flag-checkered: \f402;
$ph-var-flame: \f403;
$ph-var-flashlight: \f404;
$ph-var-flask: \f405;
$ph-var-floppy-disk: \f406;
$ph-var-floppy-disk-back: \f407;
$ph-var-flow-arrow: \f408;
$ph-var-flower: \f409;
$ph-var-flower-lotus: \f40a;
$ph-var-flying-saucer: \f40b;
$ph-var-folder: \f40c;
$ph-var-folder-dotted: \f40d;
$ph-var-folder-lock: \f40e;
$ph-var-folder-minus: \f40f;
$ph-var-folder-notch: \f410;
$ph-var-folder-notch-minus: \f411;
$ph-var-folder-notch-open: \f412;
$ph-var-folder-notch-plus: \f413;
$ph-var-folder-open: \f414;
$ph-var-folder-plus: \f415;
$ph-var-folder-simple: \f416;
$ph-var-folder-simple-dotted: \f417;
$ph-var-folder-simple-lock: \f418;
$ph-var-folder-simple-minus: \f419;
$ph-var-folder-simple-plus: \f41a;
$ph-var-folder-simple-star: \f41b;
$ph-var-folder-simple-user: \f41c;
$ph-var-folder-star: \f41d;
$ph-var-folder-user: \f41e;
$ph-var-folders: \f41f;
$ph-var-football: \f420;
$ph-var-fork-knife: \f421;
$ph-var-frame-corners: \f422;
$ph-var-framer-logo: \f423;
$ph-var-function: \f424;
$ph-var-funnel: \f425;
$ph-var-funnel-simple: \f426;
$ph-var-game-controller: \f427;
$ph-var-gas-pump: \f428;
$ph-var-gauge: \f429;
$ph-var-gear: \f42a;
$ph-var-gear-six: \f42b;
$ph-var-gender-female: \f42c;
$ph-var-gender-intersex: \f42d;
$ph-var-gender-male: \f42e;
$ph-var-gender-neuter: \f42f;
$ph-var-gender-nonbinary: \f430;
$ph-var-gender-transgender: \f431;
$ph-var-ghost: \f432;
$ph-var-gif: \f433;
$ph-var-gift: \f434;
$ph-var-git-branch: \f435;
$ph-var-git-commit: \f436;
$ph-var-git-diff: \f437;
$ph-var-git-fork: \f438;
$ph-var-git-merge: \f439;
$ph-var-git-pull-request: \f43a;
$ph-var-github-logo: \f43b;
$ph-var-gitlab-logo: \f43c;
$ph-var-gitlab-logo-simple: \f43d;
$ph-var-globe: \f43e;
$ph-var-globe-hemisphere-east: \f43f;
$ph-var-globe-hemisphere-west: \f440;
$ph-var-globe-simple: \f441;
$ph-var-globe-stand: \f442;
$ph-var-google-chrome-logo: \f443;
$ph-var-google-logo: \f444;
$ph-var-google-photos-logo: \f445;
$ph-var-google-play-logo: \f446;
$ph-var-google-podcasts-logo: \f447;
$ph-var-gradient: \f448;
$ph-var-graduation-cap: \f449;
$ph-var-graph: \f44a;
$ph-var-grid-four: \f44b;
$ph-var-hamburger: \f44c;
$ph-var-hand: \f44d;
$ph-var-hand-eye: \f44e;
$ph-var-hand-fist: \f44f;
$ph-var-hand-grabbing: \f450;
$ph-var-hand-palm: \f451;
$ph-var-hand-pointing: \f452;
$ph-var-hand-soap: \f453;
$ph-var-hand-waving: \f454;
$ph-var-handbag: \f455;
$ph-var-handbag-simple: \f456;
$ph-var-hands-clapping: \f457;
$ph-var-handshake: \f458;
$ph-var-hard-drive: \f459;
$ph-var-hard-drives: \f45a;
$ph-var-hash: \f45b;
$ph-var-hash-straight: \f45c;
$ph-var-headlights: \f45d;
$ph-var-headphones: \f45e;
$ph-var-headset: \f45f;
$ph-var-heart: \f460;
$ph-var-heart-break: \f461;
$ph-var-heart-straight: \f462;
$ph-var-heart-straight-break: \f463;
$ph-var-heartbeat: \f464;
$ph-var-hexagon: \f465;
$ph-var-highlighter-circle: \f466;
$ph-var-horse: \f467;
$ph-var-hourglass: \f468;
$ph-var-hourglass-high: \f469;
$ph-var-hourglass-low: \f46a;
$ph-var-hourglass-medium: \f46b;
$ph-var-hourglass-simple: \f46c;
$ph-var-hourglass-simple-high: \f46d;
$ph-var-hourglass-simple-low: \f46e;
$ph-var-hourglass-simple-medium: \f46f;
$ph-var-house: \f470;
$ph-var-house-line: \f471;
$ph-var-house-simple: \f472;
$ph-var-identification-badge: \f473;
$ph-var-identification-card: \f474;
$ph-var-image: \f475;
$ph-var-image-square: \f476;
$ph-var-infinity: \f477;
$ph-var-info: \f478;
$ph-var-instagram-logo: \f479;
$ph-var-intersect: \f47a;
$ph-var-jeep: \f47b;
$ph-var-kanban: \f47c;
$ph-var-key: \f47d;
$ph-var-key-return: \f47e;
$ph-var-keyboard: \f47f;
$ph-var-keyhole: \f480;
$ph-var-knife: \f481;
$ph-var-ladder: \f482;
$ph-var-ladder-simple: \f483;
$ph-var-lamp: \f484;
$ph-var-laptop: \f485;
$ph-var-layout: \f486;
$ph-var-leaf: \f487;
$ph-var-lifebuoy: \f488;
$ph-var-lightbulb: \f489;
$ph-var-lightbulb-filament: \f48a;
$ph-var-lightning: \f48b;
$ph-var-lightning-slash: \f48c;
$ph-var-line-segment: \f48d;
$ph-var-line-segments: \f48e;
$ph-var-link: \f48f;
$ph-var-link-break: \f490;
$ph-var-link-simple: \f491;
$ph-var-link-simple-break: \f492;
$ph-var-link-simple-horizontal: \f493;
$ph-var-link-simple-horizontal-break: \f494;
$ph-var-linkedin-logo: \f495;
$ph-var-linux-logo: \f496;
$ph-var-list: \f497;
$ph-var-list-bullets: \f498;
$ph-var-list-checks: \f499;
$ph-var-list-dashes: \f49a;
$ph-var-list-numbers: \f49b;
$ph-var-list-plus: \f49c;
$ph-var-lock: \f49d;
$ph-var-lock-key: \f49e;
$ph-var-lock-key-open: \f49f;
$ph-var-lock-laminated: \f4a0;
$ph-var-lock-laminated-open: \f4a1;
$ph-var-lock-open: \f4a2;
$ph-var-lock-simple: \f4a3;
$ph-var-lock-simple-open: \f4a4;
$ph-var-magic-wand: \f4a5;
$ph-var-magnet: \f4a6;
$ph-var-magnet-straight: \f4a7;
$ph-var-magnifying-glass: \f4a8;
$ph-var-magnifying-glass-minus: \f4a9;
$ph-var-magnifying-glass-plus: \f4aa;
$ph-var-map-pin: \f4ab;
$ph-var-map-pin-line: \f4ac;
$ph-var-map-trifold: \f4ad;
$ph-var-marker-circle: \f4ae;
$ph-var-martini: \f4af;
$ph-var-mask-happy: \f4b0;
$ph-var-mask-sad: \f4b1;
$ph-var-math-operations: \f4b2;
$ph-var-medal: \f4b3;
$ph-var-medium-logo: \f4b4;
$ph-var-megaphone: \f4b5;
$ph-var-megaphone-simple: \f4b6;
$ph-var-messenger-logo: \f4b7;
$ph-var-microphone: \f4b8;
$ph-var-microphone-slash: \f4b9;
$ph-var-microphone-stage: \f4ba;
$ph-var-microsoft-excel-logo: \f4bb;
$ph-var-microsoft-powerpoint-logo: \f4bc;
$ph-var-microsoft-teams-logo: \f4bd;
$ph-var-microsoft-word-logo: \f4be;
$ph-var-minus: \f4bf;
$ph-var-minus-circle: \f4c0;
$ph-var-money: \f4c1;
$ph-var-monitor: \f4c2;
$ph-var-monitor-play: \f4c3;
$ph-var-moon: \f4c4;
$ph-var-moon-stars: \f4c5;
$ph-var-mountains: \f4c6;
$ph-var-mouse: \f4c7;
$ph-var-mouse-simple: \f4c8;
$ph-var-music-note: \f4c9;
$ph-var-music-note-simple: \f4ca;
$ph-var-music-notes: \f4cb;
$ph-var-music-notes-plus: \f4cc;
$ph-var-music-notes-simple: \f4cd;
$ph-var-navigation-arrow: \f4ce;
$ph-var-needle: \f4cf;
$ph-var-newspaper: \f4d0;
$ph-var-newspaper-clipping: \f4d1;
$ph-var-note: \f4d2;
$ph-var-note-blank: \f4d3;
$ph-var-note-pencil: \f4d4;
$ph-var-notebook: \f4d5;
$ph-var-notepad: \f4d6;
$ph-var-notification: \f4d7;
$ph-var-number-circle-eight: \f4d8;
$ph-var-number-circle-five: \f4d9;
$ph-var-number-circle-four: \f4da;
$ph-var-number-circle-nine: \f4db;
$ph-var-number-circle-one: \f4dc;
$ph-var-number-circle-seven: \f4dd;
$ph-var-number-circle-six: \f4de;
$ph-var-number-circle-three: \f4df;
$ph-var-number-circle-two: \f4e0;
$ph-var-number-circle-zero: \f4e1;
$ph-var-number-eight: \f4e2;
$ph-var-number-five: \f4e3;
$ph-var-number-four: \f4e4;
$ph-var-number-nine: \f4e5;
$ph-var-number-one: \f4e6;
$ph-var-number-seven: \f4e7;
$ph-var-number-six: \f4e8;
$ph-var-number-square-eight: \f4e9;
$ph-var-number-square-five: \f4ea;
$ph-var-number-square-four: \f4eb;
$ph-var-number-square-nine: \f4ec;
$ph-var-number-square-one: \f4ed;
$ph-var-number-square-seven: \f4ee;
$ph-var-number-square-six: \f4ef;
$ph-var-number-square-three: \f4f0;
$ph-var-number-square-two: \f4f1;
$ph-var-number-square-zero: \f4f2;
$ph-var-number-three: \f4f3;
$ph-var-number-two: \f4f4;
$ph-var-number-zero: \f4f5;
$ph-var-nut: \f4f6;
$ph-var-ny-times-logo: \f4f7;
$ph-var-octagon: \f4f8;
$ph-var-option: \f4f9;
$ph-var-package: \f4fa;
$ph-var-paint-brush: \f4fb;
$ph-var-paint-brush-broad: \f4fc;
$ph-var-paint-brush-household: \f4fd;
$ph-var-paint-bucket: \f4fe;
$ph-var-paint-roller: \f4ff;
$ph-var-palette: \f500;
$ph-var-paper-plane: \f501;
$ph-var-paper-plane-right: \f502;
$ph-var-paper-plane-tilt: \f503;
$ph-var-paperclip: \f504;
$ph-var-paperclip-horizontal: \f505;
$ph-var-parachute: \f506;
$ph-var-password: \f507;
$ph-var-path: \f508;
$ph-var-pause: \f509;
$ph-var-pause-circle: \f50a;
$ph-var-paw-print: \f50b;
$ph-var-peace: \f50c;
$ph-var-pen: \f50d;
$ph-var-pen-nib: \f50e;
$ph-var-pen-nib-straight: \f50f;
$ph-var-pencil: \f510;
$ph-var-pencil-circle: \f511;
$ph-var-pencil-line: \f512;
$ph-var-pencil-simple: \f513;
$ph-var-pencil-simple-line: \f514;
$ph-var-percent: \f515;
$ph-var-person: \f516;
$ph-var-person-simple: \f517;
$ph-var-person-simple-run: \f518;
$ph-var-person-simple-walk: \f519;
$ph-var-perspective: \f51a;
$ph-var-phone: \f51b;
$ph-var-phone-call: \f51c;
$ph-var-phone-disconnect: \f51d;
$ph-var-phone-incoming: \f51e;
$ph-var-phone-outgoing: \f51f;
$ph-var-phone-slash: \f520;
$ph-var-phone-x: \f521;
$ph-var-phosphor-logo: \f522;
$ph-var-piano-keys: \f523;
$ph-var-picture-in-picture: \f524;
$ph-var-pill: \f525;
$ph-var-pinterest-logo: \f526;
$ph-var-pinwheel: \f527;
$ph-var-pizza: \f528;
$ph-var-placeholder: \f529;
$ph-var-planet: \f52a;
$ph-var-play: \f52b;
$ph-var-play-circle: \f52c;
$ph-var-playlist: \f52d;
$ph-var-plug: \f52e;
$ph-var-plugs: \f52f;
$ph-var-plugs-connected: \f530;
$ph-var-plus: \f531;
$ph-var-plus-circle: \f532;
$ph-var-plus-minus: \f533;
$ph-var-poker-chip: \f534;
$ph-var-police-car: \f535;
$ph-var-polygon: \f536;
$ph-var-popcorn: \f537;
$ph-var-power: \f538;
$ph-var-prescription: \f539;
$ph-var-presentation: \f53a;
$ph-var-presentation-chart: \f53b;
$ph-var-printer: \f53c;
$ph-var-prohibit: \f53d;
$ph-var-prohibit-inset: \f53e;
$ph-var-projector-screen: \f53f;
$ph-var-projector-screen-chart: \f540;
$ph-var-push-pin: \f541;
$ph-var-push-pin-simple: \f542;
$ph-var-push-pin-simple-slash: \f543;
$ph-var-push-pin-slash: \f544;
$ph-var-puzzle-piece: \f545;
$ph-var-qr-code: \f546;
$ph-var-question: \f547;
$ph-var-queue: \f548;
$ph-var-quotes: \f549;
$ph-var-radical: \f54a;
$ph-var-radio: \f54b;
$ph-var-radio-button: \f54c;
$ph-var-rainbow: \f54d;
$ph-var-rainbow-cloud: \f54e;
$ph-var-receipt: \f54f;
$ph-var-record: \f550;
$ph-var-rectangle: \f551;
$ph-var-recycle: \f552;
$ph-var-reddit-logo: \f553;
$ph-var-repeat: \f554;
$ph-var-repeat-once: \f555;
$ph-var-rewind: \f556;
$ph-var-rewind-circle: \f557;
$ph-var-robot: \f558;
$ph-var-rocket: \f559;
$ph-var-rocket-launch: \f55a;
$ph-var-rows: \f55b;
$ph-var-rss: \f55c;
$ph-var-rss-simple: \f55d;
$ph-var-rug: \f55e;
$ph-var-ruler: \f55f;
$ph-var-scales: \f560;
$ph-var-scan: \f561;
$ph-var-scissors: \f562;
$ph-var-screencast: \f563;
$ph-var-scribble-loop: \f564;
$ph-var-scroll: \f565;
$ph-var-selection: \f566;
$ph-var-selection-all: \f567;
$ph-var-selection-background: \f568;
$ph-var-selection-foreground: \f569;
$ph-var-selection-inverse: \f56a;
$ph-var-selection-plus: \f56b;
$ph-var-selection-slash: \f56c;
$ph-var-share: \f56d;
$ph-var-share-network: \f56e;
$ph-var-shield: \f56f;
$ph-var-shield-check: \f570;
$ph-var-shield-checkered: \f571;
$ph-var-shield-chevron: \f572;
$ph-var-shield-plus: \f573;
$ph-var-shield-slash: \f574;
$ph-var-shield-star: \f575;
$ph-var-shield-warning: \f576;
$ph-var-shopping-bag: \f577;
$ph-var-shopping-bag-open: \f578;
$ph-var-shopping-cart: \f579;
$ph-var-shopping-cart-simple: \f57a;
$ph-var-shower: \f57b;
$ph-var-shuffle: \f57c;
$ph-var-shuffle-angular: \f57d;
$ph-var-shuffle-simple: \f57e;
$ph-var-sidebar: \f57f;
$ph-var-sidebar-simple: \f580;
$ph-var-sign-in: \f581;
$ph-var-sign-out: \f582;
$ph-var-signpost: \f583;
$ph-var-sim-card: \f584;
$ph-var-sketch-logo: \f585;
$ph-var-skip-back: \f586;
$ph-var-skip-back-circle: \f587;
$ph-var-skip-forward: \f588;
$ph-var-skip-forward-circle: \f589;
$ph-var-skull: \f58a;
$ph-var-slack-logo: \f58b;
$ph-var-sliders: \f58c;
$ph-var-sliders-horizontal: \f58d;
$ph-var-smiley: \f58e;
$ph-var-smiley-blank: \f58f;
$ph-var-smiley-meh: \f590;
$ph-var-smiley-nervous: \f591;
$ph-var-smiley-sad: \f592;
$ph-var-smiley-sticker: \f593;
$ph-var-smiley-wink: \f594;
$ph-var-smiley-x-eyes: \f595;
$ph-var-snapchat-logo: \f596;
$ph-var-snowflake: \f597;
$ph-var-soccer-ball: \f598;
$ph-var-sort-ascending: \f599;
$ph-var-sort-descending: \f59a;
$ph-var-spade: \f59b;
$ph-var-sparkle: \f59c;
$ph-var-speaker-high: \f59d;
$ph-var-speaker-low: \f59e;
$ph-var-speaker-none: \f59f;
$ph-var-speaker-simple-high: \f5a0;
$ph-var-speaker-simple-low: \f5a1;
$ph-var-speaker-simple-none: \f5a2;
$ph-var-speaker-simple-slash: \f5a3;
$ph-var-speaker-simple-x: \f5a4;
$ph-var-speaker-slash: \f5a5;
$ph-var-speaker-x: \f5a6;
$ph-var-spinner: \f5a7;
$ph-var-spinner-gap: \f5a8;
$ph-var-spiral: \f5a9;
$ph-var-spotify-logo: \f5aa;
$ph-var-square: \f5ab;
$ph-var-square-half: \f5ac;
$ph-var-square-half-bottom: \f5ad;
$ph-var-square-logo: \f5ae;
$ph-var-squares-four: \f5af;
$ph-var-stack: \f5b0;
$ph-var-stack-overflow-logo: \f5b1;
$ph-var-stack-simple: \f5b2;
$ph-var-stamp: \f5b3;
$ph-var-star: \f5b4;
$ph-var-star-four: \f5b5;
$ph-var-star-half: \f5b6;
$ph-var-sticker: \f5b7;
$ph-var-stop: \f5b8;
$ph-var-stop-circle: \f5b9;
$ph-var-storefront: \f5ba;
$ph-var-strategy: \f5bb;
$ph-var-stripe-logo: \f5bc;
$ph-var-student: \f5bd;
$ph-var-suitcase: \f5be;
$ph-var-suitcase-simple: \f5bf;
$ph-var-sun: \f5c0;
$ph-var-sun-dim: \f5c1;
$ph-var-sun-horizon: \f5c2;
$ph-var-sunglasses: \f5c3;
$ph-var-swap: \f5c4;
$ph-var-swatches: \f5c5;
$ph-var-sword: \f5c6;
$ph-var-syringe: \f5c7;
$ph-var-t-shirt: \f5c8;
$ph-var-table: \f5c9;
$ph-var-tabs: \f5ca;
$ph-var-tag: \f5cb;
$ph-var-tag-chevron: \f5cc;
$ph-var-tag-simple: \f5cd;
$ph-var-target: \f5ce;
$ph-var-taxi: \f5cf;
$ph-var-telegram-logo: \f5d0;
$ph-var-television: \f5d1;
$ph-var-television-simple: \f5d2;
$ph-var-tennis-ball: \f5d3;
$ph-var-terminal: \f5d4;
$ph-var-terminal-window: \f5d5;
$ph-var-test-tube: \f5d6;
$ph-var-text-aa: \f5d7;
$ph-var-text-align-center: \f5d8;
$ph-var-text-align-justify: \f5d9;
$ph-var-text-align-left: \f5da;
$ph-var-text-align-right: \f5db;
$ph-var-text-bolder: \f5dc;
$ph-var-text-h: \f5dd;
$ph-var-text-h-five: \f5de;
$ph-var-text-h-four: \f5df;
$ph-var-text-h-one: \f5e0;
$ph-var-text-h-six: \f5e1;
$ph-var-text-h-three: \f5e2;
$ph-var-text-h-two: \f5e3;
$ph-var-text-indent: \f5e4;
$ph-var-text-italic: \f5e5;
$ph-var-text-outdent: \f5e6;
$ph-var-text-strikethrough: \f5e7;
$ph-var-text-t: \f5e8;
$ph-var-text-underline: \f5e9;
$ph-var-textbox: \f5ea;
$ph-var-thermometer: \f5eb;
$ph-var-thermometer-cold: \f5ec;
$ph-var-thermometer-hot: \f5ed;
$ph-var-thermometer-simple: \f5ee;
$ph-var-thumbs-down: \f5ef;
$ph-var-thumbs-up: \f5f0;
$ph-var-ticket: \f5f1;
$ph-var-tiktok-logo: \f5f2;
$ph-var-timer: \f5f3;
$ph-var-toggle-left: \f5f4;
$ph-var-toggle-right: \f5f5;
$ph-var-toilet: \f5f6;
$ph-var-toilet-paper: \f5f7;
$ph-var-tote: \f5f8;
$ph-var-tote-simple: \f5f9;
$ph-var-trademark-registered: \f5fa;
$ph-var-traffic-cone: \f5fb;
$ph-var-traffic-sign: \f5fc;
$ph-var-traffic-signal: \f5fd;
$ph-var-train: \f5fe;
$ph-var-train-regional: \f5ff;
$ph-var-train-simple: \f600;
$ph-var-translate: \f601;
$ph-var-trash: \f602;
$ph-var-trash-simple: \f603;
$ph-var-tray: \f604;
$ph-var-tree: \f605;
$ph-var-tree-evergreen: \f606;
$ph-var-tree-structure: \f607;
$ph-var-trend-down: \f608;
$ph-var-trend-up: \f609;
$ph-var-triangle: \f60a;
$ph-var-trophy: \f60b;
$ph-var-truck: \f60c;
$ph-var-twitch-logo: \f60d;
$ph-var-twitter-logo: \f60e;
$ph-var-umbrella: \f60f;
$ph-var-umbrella-simple: \f610;
$ph-var-upload: \f611;
$ph-var-upload-simple: \f612;
$ph-var-user: \f613;
$ph-var-user-circle: \f614;
$ph-var-user-circle-gear: \f615;
$ph-var-user-circle-minus: \f616;
$ph-var-user-circle-plus: \f617;
$ph-var-user-focus: \f618;
$ph-var-user-gear: \f619;
$ph-var-user-list: \f61a;
$ph-var-user-minus: \f61b;
$ph-var-user-plus: \f61c;
$ph-var-user-rectangle: \f61d;
$ph-var-user-square: \f61e;
$ph-var-user-switch: \f61f;
$ph-var-users: \f620;
$ph-var-users-four: \f621;
$ph-var-users-three: \f622;
$ph-var-vault: \f623;
$ph-var-vibrate: \f624;
$ph-var-video-camera: \f625;
$ph-var-video-camera-slash: \f626;
$ph-var-vignette: \f627;
$ph-var-voicemail: \f628;
$ph-var-volleyball: \f629;
$ph-var-wall: \f62a;
$ph-var-wallet: \f62b;
$ph-var-warning: \f62c;
$ph-var-warning-circle: \f62d;
$ph-var-warning-octagon: \f62e;
$ph-var-watch: \f62f;
$ph-var-wave-sawtooth: \f630;
$ph-var-wave-sine: \f631;
$ph-var-wave-square: \f632;
$ph-var-wave-triangle: \f633;
$ph-var-waves: \f634;
$ph-var-webcam: \f635;
$ph-var-whatsapp-logo: \f636;
$ph-var-wheelchair: \f637;
$ph-var-wifi-high: \f638;
$ph-var-wifi-low: \f639;
$ph-var-wifi-medium: \f63a;
$ph-var-wifi-none: \f63b;
$ph-var-wifi-slash: \f63c;
$ph-var-wifi-x: \f63d;
$ph-var-wind: \f63e;
$ph-var-windows-logo: \f63f;
$ph-var-wine: \f640;
$ph-var-wrench: \f641;
$ph-var-x: \f642;
$ph-var-x-circle: \f643;
$ph-var-x-square: \f644;
$ph-var-yin-yang: \f645;
$ph-var-youtube-logo: \f646;
